<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConsultaWS" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3384/ConsultasWS.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IConsultaWS" contract="AnimeConsultasWS.IConsultaWS"
        name="BasicHttpBinding_IConsultaWS" />
    </client>
  </system.serviceModel>
</configuration>